@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Shadows+Into+Light&family=Tektur:wght@600&family=Wix+Madefor+Display&display=swap');

body{
    background-color: black;
    margin: 0px;
}

nav{
    background-color: yellow;
    margin-top: 0px;
}

.main{
    text-align: center;
}

h1{
    font-family: 'Poppins', sans-serif;
}
h3{
    font-family: 'Poppins', sans-serif;
}

.header{
    text-align: center;
}

.pagetitle{
    color: aliceblue;
}

.book-container {
    display: block;
    margin: auto;
    background-color: aliceblue;
    border: none;
    width: 60%; /* Use a percentage for responsive width */
    /*max-width: 400px; /* Optional: set a max-width to prevent it from becoming too wide on large screens */
    padding: 1em 2em;
    border-radius: 30px;
    margin-bottom: 3vw; /* Use a percentage for responsive margin */
    margin-top: 3vw; /* Use a percentage for responsive margin */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}


.bookGen{
    font-family: 'Poppins', sans-serif;
    background-color: yellow;
    font-size: 1.6vw;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 13px;
    padding-right: 13px;
    margin: 25px;
    border-radius: 30px;
}

@media (max-width: 800px) {
    .book-container {
        padding: 0.5em; /* Adjust padding for smaller screens */
        font-size: 14px; /* Adjust font size for smaller screens */
        margin-bottom: 1vw; /* Adjust margin for smaller screens */
        margin-top: 1vw;
    }
    .book1, .book2{
        margin-top: 1.3vh;
        margin-bottom: 1.3vh;
    }
}
